# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
backend/.venv/
.venv/

# Node
node_modules/
frontend/node_modules/

# Django
db.sqlite3
*.sqlite3

# VS Code
.vscode/
*.code-workspace

# macOS
.DS_Store
/venv
